DotNet/HelloWorld/.vscode/
DotNet/HelloWorld/bin/
DotNet/HelloWorld/obj/
/DotNet/CtsDemo/.vs/CtsDemo/v16
/DotNet/CtsDemo/CtsDemo/bin/Debug
/DotNet/CtsDemo/CtsDemo/obj/Debug
/DotNet/CtsDemo/VisualBasicKirjasto/bin/Debug/netstandard2.0
/DotNet/CtsDemo/VisualBasicKirjasto/obj
/DotNet/CtsDemo/.vs/CtsDemo/DesignTimeBuild
/DotNet/ArvaaLukuPeli/.vs/ArvaaLukuPeli/v16
/DotNet/ArvaaLukuPeli/ArvaaLukuPeli/bin/Debug/net5.0
/DotNet/ArvaaLukuPeli/ArvaaLukuPeli/obj
/DotNet/ArvaaLukuPeli/.vs/ArvaaLukuPeli/DesignTimeBuild
/DotNet/FileStreamDemo/.vs/FileStreamDemo/v16
/DotNet/FileStreamDemo/FileStreamDemo/bin/Debug/net5.0
/DotNet/FileStreamDemo/FileStreamDemo/obj
/DotNet/Muuttujat/.vs/Muuttujat/v16
/DotNet/Muuttujat/Muuttujat/bin/Debug/net5.0
/DotNet/Muuttujat/Muuttujat/obj/Debug/net5.0/ref/Muuttujat.dll
/DotNet/Muuttujat/Muuttujat/obj
/DotNet/Muuttujat/.vs/Muuttujat/DesignTimeBuild
/DotNet/TiedostojenLukujenSumma/.vs/TiedostojenLukujenSumma/v16
/DotNet/TiedostojenLukujenSumma/TiedostojenLukujenSumma/bin/Debug/net5.0
/DotNet/TiedostojenLukujenSumma/TiedostojenLukujenSumma/obj
/DotNet/FileStreamDemo/.vs/FileStreamDemo/DesignTimeBuild
/DotNet/OlioOhjelmointi/.vs/OlioOhjelmointi/v16
/DotNet/OlioOhjelmointi/OlioOhjelmointi/bin/Debug/net5.0
/DotNet/OlioOhjelmointi/OlioOhjelmointi/obj
/DotNet/AdoNetTesti/.vs/AdoNetTesti/v16
/DotNet/AdoNetTesti/AdoNetTesti/bin/Debug
/DotNet/AdoNetTesti/AdoNetTesti/obj/Debug
/DotNet/WindowsFormsApp1/.vs/WindowsFormsApp1/v16
/DotNet/WindowsFormsApp1/WindowsFormsApp1/bin/Debug
/DotNet/WindowsFormsApp1/WindowsFormsApp1/obj/Debug
/DotNet/EntityFrameworkDemo/.vs/EntityFrameworkDemo/v16
/DotNet/EntityFrameworkDemo/EntityFrameworkDemo/bin/Debug/net5.0
/DotNet/EntityFrameworkDemo/EntityFrameworkDemo/obj
/DotNet/EntityFrameworkDemo/.vs/EntityFrameworkDemo/DesignTimeBuild
/DotNet/NorthwindEntityDemo/.vs/NorthwindEntityDemo/v16
/DotNet/NorthwindEntityDemo/NorthwindEntityDemo/bin/Debug/net5.0
/DotNet/NorthwindEntityDemo/NorthwindEntityDemo/obj
